body {
    font-family: "Libre Baskerville", "Arial", serif;
    background: linear-gradient(to bottom, #04046e, #7bb5ef);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.menu {
    margin: 50px auto;
    width: 50%;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.category {
    text-align: left;
}

h3 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 20px 0;
}

ul li .name {
    font-weight: bold;
    font-size: 1rem;
}

.ingredients {
    font-style: italic;
    font-size: 0.7rem;
    color: lightgray;
}

ul li .value {
    float: right;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    display: flex;
}

.size{
    display: flex;
    flex-direction: row;
}

.size-item{
    margin-right: 30px;
}


.logo {
    width: 120px; 
    border-radius: 25%;
    height: auto;
    position: absolute; 
    top: 3%;
    left: 3%; 
    z-index: 10; 
}

#traditional-pizza {
    margin-top: 40px;
}

#gourmet-pizza {
    margin-top: 40px;
}

#sweet-pizza {
    margin-top: 40px;
}

.order-button-container {
    text-align: center; /* Centraliza o botão */
    padding: 20px !important; /* Espaço acima e abaixo do botão */
}

.order-button {
    background-color: #0c1579; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 15px 30px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 1.2em; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave */
}

.order-button:hover {
    background-color: #0d00ff; /* Cor de fundo ao passar o mouse */
}

.allCanYouEat-items{
    font-size: 12px;
}


/* Personalização do título das categorias */
#traditional-pizza h3,
#gourmet-pizza h3,
#sweet-pizza h3,
#portion h3,
#drink h3,
#allCanYouEat-pizza h3 {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

@media (max-width: 768px) { 
    .menu {
        width: 80%;
    }

    .logo {
        position: static;
        margin: 20px auto;
        display: block;
    }

    h1 {
        display: none;
    }

    ul li .value {
        float: right;
        font-size: 0.7rem;
        color: rgb(255, 255, 255);
        padding-top: 4px;
        padding-right: 4px;
    }
    
    .size-item{
        margin-right: 15px;
    }
}

@media (max-width: 480px) { 

    h2 {
        font-size: 1.5rem;
    }

    ul li {
        font-size: 1rem;
    }
}