body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #00416A, #d5eaff);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.menu {
    margin: 50px auto;
    width: 50%;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.category {
    text-align: left;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 20px 0;
}

ul li .name {
    font-weight: bold;
    font-size: 1.2rem;
}

ul li .ingredients {
    font-style: italic;
    font-size: 0.9rem;
    color: lightgray;
}

ul li .value {
    float: right;
    font-size: 1rem;
    color: lightgray;
}
